/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(233, 50%, 21%);
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* parent container */
.container {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 446px;
}

.container-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(244, 38%, 29%);
    width: 540px;
}

.container-right {
    background: linear-gradient(rgba(196, 4, 249, 0.5), rgba(196, 4, 249, 0.5)), url("../images/image-header-desktop.jpg");
    background-repeat: no-repeat;
    width: 540px;
}

.container-left-bottom {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.header {
    width: 60%;
}

.notes {
    width: 60%;
}

/* scroll through features */
/* default styles first then media queries */
@media screen and (max-width: 390px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        height: 100vh;
        width: 100%;
        padding: 40px 10px;
    }

    .container-right {
        background: linear-gradient(rgba(196, 4, 249, 0.5), rgba(196, 4, 249, 0.5)), url("../images/image-header-mobile.jpg");
        height: 100vh;
        width: 100%;
        background-size: cover;
    }


    .container-left {
        background-color: hsl(244, 38%, 29%);
        width: 100%;
    }
    
    .container-left-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        margin: 0%;
    }
}
