/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(233, 50%, 21%);
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* parent container */
.container {
    display: flex;
    flex-direction: row;
    width: 1080px;
    height: 446px;
}

.container-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(244, 38%, 29%);
    width: 540px;
}

.container-right {
    background: linear-gradient(rgba(196, 4, 249, 0.5), rgba(196, 4, 249, 0.5)), url("../images/image-header-desktop.jpg");
    background-repeat: no-repeat;
    width: 540px;
}

.container-left-bottom {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.header {
    width: 60%;
}

.notes {
    width: 60%;
}

/* scroll through features */
/* default styles first then media queries */
@media screen and (min-width: 400px) {
    body {
        background-color: white;
    }
}
@media screen and (min-width: 600px) {
    body {
        background-color: blue;
    }
}
@media screen and (min-width: 1000px) {
    body {
        background-color: red;
    }
}
@media screen and (min-width: 1400px) {
    body {
        background-color: orange;
    }
}